/**
 * @name NieR: Automata UI Light
 * @version 1.5
 * @description Glory to Mankind. || 
 * Thanks to JulioDRai for letting me use their cursors! 
 * ~https://www.deviantart.com/juliodrai || 
 * Thanks to GOmonkeymanGO for letting me use some of their code 
 * ~https://github.com/ChaseIngebritson/YoRHa-Discord-Theme || 
 * @website https://github.com/AccraZed/YoRHA-UI-BetterDiscord
 * @author Accrazed#2710
 * @invite X4nBPCa
 * @authorId 153562159161278473
 */
/*
 *  :::.       .,-:::::   .,-::::: :::::::..    :::.     :::::::::.,:::::::::::::-.  
 *  ;;`;;    ,;;;'````' ,;;;'````' ;;;;``;;;;   ;;`;;    '`````;;;;;;;'''' ;;,   `';,
 * ,[[ '[[,  [[[        [[[         [[[,/[[['  ,[[ '[[,      .n[[' [[cccc  `[[     [[
 * c$$$cc$$$c $$$        $$$         $$$$$$c   c$$$cc$$$c   ,$$P"   $$""""   $$,    $$
 * 888   888,`88bo,__,o,`88bo,__,o, 888b "88bo,888   888,,888bo,_  888oo,__ 888_,o8P'
 * YMM   ""`   "YUMMMMMP" "YUMMMMMP"MMMM   "W" YMM   ""`  `""*UMM  """"YUMMMMMMMP"`  
 */

@import url('https://buns.gay/YoRHA-UI-BetterDiscord/font/stylesheet.css'); /* Font */
//@import url('https://buns.gay/YoRHA-UI-BetterDiscord/NieR-Cursor.css'); /* Cursor */
// Fixes text select cursor

#app-mount,
.title-3hptVQ,
.modeDefault-2fEh7a,
.container-ZMc96U,
.titleBar-1it3bQ {
	cursor: url('https://buns.gay/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Normal_Select_v2.cur'),
		default !important;
}

.timestamp-p1Df1m.latin24CompactTimeStamp-2pXUBq,
.searchBar-zdmu7v,
.contents-2MsGLg,
textarea,
.textAreaSlate-9-y-k2 div div,
input {
	cursor: url('https://buns.gay/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Normal_Select_v2.cur'),
		default !important;
}

a,
button,
.folder-21wGz3,
.item-3eFBNF,
.css-gvi9bl-control,
.css-rzbxvl-option,
.css-1ba14n5-option,
.css-ku6vh5-indicatorContainer,
.avatar-2e8lTP,
.fileInput-2wWHbw,
.container-1QtPKm,
.input-2XRLou,
.profileBadge-12r2Nm,
.item-1OdjEX,
.container-YkUktl .avatar-1EWyVD,
.wrapper-2PSQCG,
.result-u66Ywh,
.labelClickable-eiZOrp,
.buttonWrapper-3YFQGJ,
[role='button'],
[role='button'] header,
[type='checkbox'],
label,
.item-2idW98,
.additionalActionsIcon-1FoUlE,
.clickable-28SzVr:hover .layout-1qmrhw,
.actionIcon-2sw4Sl,
.clickable-LksVCf,
.friendsTable-133bsv .friendsRow-2yicud {
	cursor: url('https://buns.gay/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Link_Select_v2.cur'),
		default !important;
}

.grabber-2GQyvM {
	cursor: url('https://buns.gay/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Horizontal_Resize_v2.cur'),
		default !important;
}

.disabled,
.innerDisabled-2dbG11,
.disabled-29cfPA,
.disabled-2qTmnp,
.modeLocked-3sToxd,
.modeLocked-3sToxd .mainContent-20q_Hp {
	cursor: url('https://buns.gay/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Unavailable_v2.cur'),
		default !important;
}


@import url('https://buns.gay/YoRHA-UI-BetterDiscord/NieR-Import.theme.css'); /* Main File */
@import url('https://buns.gay/YoRHA-UI-BetterDiscord/LightImport.theme.css'); /* Light Part of Theme */

/* GLOBAL VARIABLES */
:root {
	--color-high: rgb(218, 212, 187);
	--color-low: rgb(87, 84, 74);
	--color-mid: rgb(151, 147, 129);
	--color-alert: rgb(205, 102, 77);
	--color-high-trans: rgba(218, 212, 187, 0.8);
	--color-low-trans: rgba(87, 84, 74, 0.6);
	--color-alert-trans: rgba(205, 102, 77, 0.7);
	--nier-font: sce-ps3_rodin_latinregular;
}
